
.fundo-div{
    background-color: rgb(226 232 240);
}

.divisoria-cadastro{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px;
    padding: 10px;
    background-color: rgb(232, 238, 245);
}
